@using MvcCv.Models.Entity
@model List<Tbl_SosyalMedya>
<div class="social-icons">
    @foreach (var item in Model)
    {
        <a class="social-icon" href="@item.Link"><i class="@item.Ikon"></i></a>
    }
</div>
