@using MvcCv.Models.Entity
@model List<Tbl_SosyalMedya>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Sosyal Medya Hesap Listem</h3>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-info" data-toggle="modal" data-target="#Modal1">Sosyal Medya Ekle</button>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Sosyal Medya</th>
                                            <th>Durum</th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID.</td>
                                                <td>@item.Ad</td>
                                                <td>@item.Durum</td>
                                                <td>
                                                    <a href="/SosyalMedya/Sil/@item.ID" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                    <a href="/SosyalMedya/Duzenle/@item.ID" class="btn btn-success"><i class="fas fa-pencil-alt"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Sosyal Medya Ekleme Penceresi</h4>
                    </div>
                    <form method="post" action="/SosyalMedya/Ekle">
                        <div class="modal-body">
                            <label>Medya İsmi</label>
                            <input type="text" name="Ad" class="form-control" />
                            <br />
                            <label>Medya Linki</label>
                            <input type="text" name="Link" class="form-control" />
                            <br />
                            <label>İcon</label>
                            <input type="text" name="Ikon" class="form-control" />
                            <br />
                            <button class="btn btn-info">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>