@model MvcCv.Models.Entity.Tbl_Sertifikalarim
@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Sertifika Güncelleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Sertifika")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
    <a href="/Sertifika/SertifikaSil/@ViewBag.d" class="btn btn-danger">Sil</a>
</form>
